# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.model-artifacts/
.venv

# Build directories
et-build/*
runner-et/cmake-out/*
runner-aoti/cmake-out/*

# pte files
*.pte
