# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.model-artifacts/
.venv
.torchchat

# Build directories
build/android/*
et-build/*
runner-et/cmake-out/*
runner-aoti/cmake-out/*
# pte files
*.pte

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
# React
client/build/
client/.env
# VSCode
.vscode/
# Operating System
.DS_Store
Thumbs.db

# dependencies
/.pnp
.pnp.js

# testing
/coverage
