# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.vscode
.model-artifacts/
.venv
.torchchat

# Build directories
build/android/*
et-build/*
runner-et/cmake-out/*
runner-aoti/cmake-out/*
cmake-out/

# pte files
*.pte

# debug / logging files
system_info.txt

# intermediate system file
.DS_Store

# build artifacts
checkpoints/
exportedModels/
