# Requires python >=3.10

# PyTorch ecosystem
torchao==0.1

# Hugging Face download
huggingface_hub

# GGUF import
gguf

# Tiktoken tokenizer for Llama 3 and other advanced models
tiktoken

# Miscellaneous
snakeviz
sentencepiece
numpy < 2.0
gguf
lm-eval==0.4.2
blobfile

# Build tools
wheel
cmake>=3.24
ninja
zstd

# Browser mode
flask

# HQQ pulls down the version
# hqq
