# Requires python >=3.10

# Hugging Face download
huggingface_hub

# GGUF import
gguf

# Tiktoken tokenizer for Llama 3 and other advanced models
tiktoken

# Tokenizers and jinja2 for other non-llama models that use HF tokenizers
tokenizers
jinja2

# Miscellaneous
snakeviz
sentencepiece
numpy >= 1.17
blobfile
tomli >= 1.1.0 ; python_version < "3.11"
openai

# Build tools
wheel
cmake>=3.24
ninja
zstd

# Browser mode
streamlit

# Server mode
flask

# eval
lm_eval==0.4.2
