name: Run the README instructions - with stories

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-readme-any:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info and try install pip and/or pip3"
        set -x
        uname -a
        echo "::endgroup::"

        .ci/scripts/run-docs readme

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-readme-cpu:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info and try install pip and/or pip3"
        set -x
        uname -a
        echo "::endgroup::"

        # TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs readme

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-quantization-any:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info and try install pip and/or pip3"
        set -x
        uname -a
        echo "::endgroup::"

        # library
        # .ci/scripts/run-docs quantization

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-quantization-cpu:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info and try install pip and/or pip3"
        set -x
        uname -a
        echo "::endgroup::"

        # TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs quantization

  test-gguf-any:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # failing
        # .ci/scripts/run-docs gguf

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-gguf-cpu:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # failing
        # TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs gguf

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"


  test-advanced-any:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # failing
        # .ci/scripts/run-docs advanced

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"


  test-advanced-cpu:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # failing
        # TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs advanced

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-evaluation-any:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # .ci/scripts/run-docs evaluation

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-evaluation-cpu:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs evaluation

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-multimodal-any:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # .ci/scripts/run-docs multimodal

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-multimodal-cpu:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs multimodal

  test-native-any:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # echo "::group::Install newer objcopy that supports --set-section-alignment"
        # yum install -y  devtoolset-10-binutils
        # export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        # echo "::endgroup::"

        # ERROR: No matching distribution found for torch==2.7.0.dev20250124
        # .ci/scripts/run-docs native

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-native-cpu:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # echo "::group::Install newer objcopy that supports --set-section-alignment"
        # yum install -y  devtoolset-10-binutils
        # export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        # echo "::endgroup::"

        # TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs native

  test-distributed-cuda:
    permissions:
      id-token: write
      contents: read
    uses: pytorch/test-infra/.github/workflows/linux_job_v2.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.4"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        # torch.distributed.DistBackendError: NCCL error in: /pytorch/torch/csrc/distributed/c10d/NCCLUtils.cpp:77, invalid usage (run with NCCL_DEBUG=WARN for details), NCCL version 2.21.5
        # [rank0]: ncclInvalidUsage: This usually reflects invalid usage of NCCL library.
        # Duplicate GPU detected : rank 0 and rank 1 both on CUDA device 1e0
        # .ci/scripts/run-docs distributed

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"
