name: Run the README instructions - with stories

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-readme-any:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        echo "::group::Create script to run README"
        python3 scripts/updown.py --file README.md --replace 'llama3:stories15M,-l 3:-l 2,meta-llama/Meta-Llama-3-8B-Instruct:stories15M' --suppress huggingface-cli,HF_TOKEN > ./run-readme.sh
        # for good measure, if something happened to updown processor,
        # and it did not error out, fail with an exit 1
        echo "exit 1" >> ./run-readme.sh
        echo "::endgroup::"

        echo "::group::Run README"
        echo "*******************************************"
        cat ./run-readme.sh
        echo "*******************************************"
        bash -x ./run-readme.sh
        echo "::endgroup::"

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-quantization-any:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        echo "::group::Create script to run quantization"
        python3 scripts/updown.py --file docs/quantization.md --replace llama3:stories15M --suppress huggingface-cli,HF_TOKEN > ./run-quantization.sh
        # for good measure, if something happened to updown processor,
        # and it did not error out, fail with an exit 1
        echo "exit 1" >> ./run-quantization.sh
        echo "::endgroup::"

        echo "::group::Run quantization"
        echo "*******************************************"
        cat ./run-quantization.sh
        echo "*******************************************"
        bash -x ./run-quantization.sh
        echo "::endgroup::"

  test-gguf-any:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.g5.4xlarge.nvidia.gpu
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        echo "::group::Create script to run gguf"
        python3 scripts/updown.py --file docs/GGUF.md --replace 'llama3:stories15M,-l 3:-l 2,meta-llama/Meta-Llama-3-8B-Instruct:stories15M' --suppress huggingface-cli,HF_TOKEN > ./run-gguf.sh
        # for good measure, if something happened to updown processor,
        # and it did not error out, fail with an exit 1
        echo "exit 1" >> ./run-gguf.sh
        echo "::endgroup::"

        echo "::group::Run gguf"
        echo "*******************************************"
        cat ./run-gguf.sh
        echo "*******************************************"
        bash -x ./run-gguf.sh
        echo "::endgroup::"

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"
