name: Run the README instructions - with stories - on Linux aarch64

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-readme-cpu:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.arm64.2xlarge
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs readme

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-quantization-cpu:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.arm64.2xlarge
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs quantization

  test-gguf-cpu:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.arm64.2xlarge
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs gguf

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-advanced-cpu:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.arm64.2xlarge
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs advanced

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"

  test-evaluation-cpu:
    uses: pytorch/test-infra/.github/workflows/linux_job.yml@main
    with:
      runner: linux.arm64.2xlarge
      gpu-arch-type: cuda
      gpu-arch-version: "12.1"
      timeout: 60
      script: |
        echo "::group::Print machine info"
        uname -a
        echo "::endgroup::"

        echo "::group::Install newer objcopy that supports --set-section-alignment"
        yum install -y  devtoolset-10-binutils
        export PATH=/opt/rh/devtoolset-10/root/usr/bin/:$PATH
        echo "::endgroup::"

        TORCHCHAT_DEVICE=cpu .ci/scripts/run-docs evaluation

        echo "::group::Completion"
        echo "tests complete"
        echo "*******************************************"
        echo "::endgroup::"
